:root {
  font-size: 10px;
  --black: #121212;
  --white: #ffffff;
  --gray: #888888;
  --trans-s: all 0.7s ease;
  --trans-f: all 0.2s ease;
  --rad: 0rem;

  --c1: #121212;
  --c2: #fca311;
  --c3: #97abbc;
  --c4: #e5e5e5;
  --c5: #14213d;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 10px;
}
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

button {
  padding: 2rem 4rem;
  font-size: 2rem;
  color: white;
  background: var(--c5);
  border: none;
  border-radius: var(--rad);
  cursor: pointer;
}
