:root {
  font-size: 10px;
  --theme-color: #310CC2;
  --black: #121212;
  --white: #ffffff;
  --gray: #888888;
  --trans-s: all 0.7s ease-in-out;
  --trans-f: all 0.4s ease-in-out;
  --rad: 10px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

h1, h2, h3, h4, h5 {
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 10px;
}
*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

